<h3 class="text-center my-5 text-dark">User Register</h3>
<!-- buộc toàn bộ dòng và cột phải bỏ trong class container -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-5">
            <div class="border p-3 rounded bg-light">
                <form action="Javascript:void(0)" method="post" id="formRegister">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}" id="csrf">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input id="username" type="text" class="form-control" placeholder="Username" name="username"
                                {{#if user}}value={{user.username}}{{/if}} required>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="pass1">Password</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input id='pass1' type="password" class="form-control" placeholder="Password" name="pass1"
                                {{#if user}}value={{user.password}}{{/if}} required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass2">Confirm Password</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input id='pass2' type="password" class="form-control" placeholder="Confirm Password" {{#if
                                user}}value={{user.password}}{{/if}} name="pass2" required>
                        </div>
                    </div>
                    <div class="form-group" id="noticeRegister" hidden>
                        <div class="alert alert-danger alert-dismissible fade show" id="contentNoticeRegister">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    </div>
                    <div class="form-group" style="display: flex;justify-content: space-around">
                        <button class="btn btn-success px-5" type="submit">Register</button>
                        <a class="btn btn-warning px-5" href="/login">Login</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>